<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>ESP32 Temperature Monitor</title>
</head>

<body>

    <h2>ESP32 Temperature Monitor</h2>

    <div class="card">Temperature: <span id="temp" class="temp">--</span> °C</div>

    <div class="card">LED pattern: <span id="pattern">--</span></div>

    <form action="/set_led" method="POST">
        <input class="card" type="submit" name="submit_button" value="wave">

        <input class="card" type="submit" name="submit_button" value="curtain">

        <input class="card" type="submit" name="submit_button" value="checker">

        <input class="card" type="submit" name="submit_button" value="temp">
    </form>
    
    <script>
        setInterval(() => {
            fetch('/get_data')
                .then(response => response.json())
                .then(data => {
                document.getElementById("temp").innerText = data.temperature;
                document.getElementById("pattern").innerText = data.led;
                });
            }, 1000);
    </script>

</body>